<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.x3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<title>lapaz zmq and mongrel2</title>
</head>
<body>
<div class="header">
  <div class="title"><span class="subtitle">HTML Rendering</span></div>
</div>
<div>
Regarding your request to <%= headers["URI"]%>
Whooooops!  Lapaz does not know how to respond.
</div>
</body>
</html>
